.body{
	background-image:url(../img/13.PNG);
	background-position: center;
    background-size: cover;
  font-family:cambria, sans-serif, georgia;
	margin:0px;
	padding:0px;
	
}


.NavigationBar {
	background-color: rgba(0, 0, 0, 0.9); 
	display: flex;
	justify-content: center;
	width: 100%; 
margin-bottom:30px;	

	
}

.NavigationBar ul li{
		display: inline-block;
		height: 30px;
	    list-style: none;
		width: 120px;
	border-right :1px solid #D0D0D0;
	text-align:center;
		}
		
		
.NavigationBar ul li a{
	font-size: 17px;
	text-decoration:none;
				
				color: white;
			}
			
			
.NavigationBar ul li a:hover{
				
				color: #D0D0D0;
				font-size: 17px;
				line-height: 40px;
				display: block;
				box-shadow: rgba(0, 0, 0, 0.5);
			}
			
			

.menu{ float: left ; width: 190px ; height: 280%; background-color: #d0d0d0;}

.menu h3 { float: left;  margin: 0px; color: black; background-color: #d3654c; text-transform: uppercase; line-height: 50px; text-indent: 20px; font-size: 18px; width: 110%;
font-weight: normal;}



.menu ul li {
float: left; width: 100%; margin-bottom: 15px;  padding: 0px; list-style: none; border-bottom: 1px solid #e0e0e0;
}



.menu ul li a { color: #737373; 
text-decoration: none;
line-height: 30px;display: block;}














	.copy p{
		background-color: rgba(0, 0, 0, 0.9); 
		color:white;
		font-size:18px;
		text-align:center;
		height:40px;
		margin-bottom:1px;
margin-top:20px;
		

	}